{% extends 'base/base.html' %}
{% block titile %}
	Checkout
{% endblock titile %}
{% block content %}
{% load static %}
{% load humanize %}
{% load custom_filter %}

	<section id="cart_Thanh Toánitems">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Check out</li>
				</ol>
			</div>

			<div class="shopper-informations">
				<div class="row">
					<div class="col-sm-12">
						<div class="bill-to">
							<p>Bill To</p>
							<div class="form-one">
								<form method="POST">
									{% csrf_token %}
									<input name="phone" type="text" placeholder="Số diện thoại">
									<input name="address" type="text" placeholder="Địa chỉ">
									<button class="btn btn-default btn-block btn-large get">Submit</button>
								</form>
							</div>

						</div>
					</div>

				</div>
			</div>
			<div class="review-payment">
				<h2>Review & Payment</h2>
			</div>
			<div id="cart_items">
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description">Info</td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for orderdetail in data_orderdetail %}
						<tr>
							<td class="cart_product">
								<a href="{% url 'view_product' product_id=orderdetail.id %}"><img src="{{ orderdetail.product.image }}" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{ orderdetail.product.name }}</a></h4>
								<p>Product ID: 1089772{{ orderdetail.product.id }}</p>
							</td>
							<td class="cart_price">
								<p>{{ orderdetail.product.price|intcomma }}đ</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<!-- <a class="cart_quantity_up" href="{% url 'change_product_quantity' action='increase' product_id=orderdetail.product.id %}"> + </a> -->
									{{ orderdetail.quantity }}

									<!-- <a class="cart_quantity_down" href="{% url 'change_product_quantity' action='decrease' product_id=orderdetail.product.id %}"> - </a> -->
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{ orderdetail.amout|intcomma }}đ</p>
							</td>
							<!-- <td class="cart_delete">
								<a class="cart_quantity_delete" href="{% url 'delete_product_in_cart' product_id=orderdetail.product.id %}"><i class="fa fa-times"></i></a>
							</td> -->
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
			<div class="payment-options">
					<span>
						<label><input type="checkbox"> Direct Bank Transfer</label>
					</span>
					<span>
						<label><input type="checkbox"> Check Payment</label>
					</span>
					<span>
						<label><input type="checkbox"> Paypal</label>
					</span>
				</div>
		</div>
	</section> <!--/#cart_items-->

{% endblock content %}

