{% extends 'base/base.html' %}
{% block title %}
Đăng Ký
{% endblock title %}

{% block content %}
{% load static %}

<section id="form">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="signup-form">
					<!--sign up form-->
					<h2>Đăng Ký Tài Khoản</h2>
					<form action="" method="POST">
						{% csrf_token %}
						{% for field in form_register %}
						<div class="form-group">
							{{ field.label }}
							{{ field }}
							{% if field.errors %}
							{% for error in field.errors %}
							<div style="display: block" class="invalid-feedback">
								{{error}}
							</div>
							{% endfor %}
							{% endif %}
						</div>
						{% endfor %}
						<!-- <input type="text" placeholder="Name" />
						<input type="email" placeholder="Email Address" />
						<input type="password" placeholder="Password" /> -->
						<button type="submit" class="btn btn-default">Đăng ký</button> <br>
						<a href="{% url 'login_user' %}">Có tài khoản rồi!</a>

					</form>
				</div>
				<!--/sign up form-->
			</div>
		</div>
	</div>
</section>
<!--/form-->

{% endblock content %}